.product-info__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.product-info__images_container {
    width: 100%;
    max-width: 450px;
    margin: 20px 10px;
}
.product-info__images {
    width: 100%;
}


.product-info__container {
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
}

.product-info__text {
    padding: 10px 15px;
}

.product-info__name {
    font-size: 17px;
}
.product-info__price {
    font-size: 20px;
    color: #bd2020;
}
.product-info__brend {
    font-size: 17px;
}