.header {
    display: flex;
    justify-content: center;
}
.header__images {
    pointer-events: none;
    width: 100%;
    min-height: 200px;
}
.header__container {
    position: relative;
    width: 100%;
    max-height: 750px;
    overflow: hidden;
    z-index: -1;
}
    .header__container::after {
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(29, 28, 28, 0.8);
        z-index: 1;
    }